.App {
  overflow: hidden;
  position: relative;
  display: flex;
  background: #f7f8fa;
}

.nav{
  position: absolute;
  left: 15px;
  top: 15px;
  transition: all .3s;
  font-size: 24px;
  z-index: 25;
}

.nav.open{
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -o-transform: translateX(260px);
  transform: translateX(260px);
  color: #ff6348;
}

button{
  cursor: pointer;
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 120px;
  margin-bottom: 1rem;
}

.info{
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  transform: translateX(-320px);
  transition: all .3s;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #515964;
  box-sizing: border-box;
  padding: 1.2rem 0;
  color: white;
}

.info.open{
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-shadow: 11px 0px 38px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 0px 38px -23px rgba(0,0,0,0.75);
  box-shadow: 11px 0px 38px -23px rgba(0,0,0,0.75);
}

.info p{
  font-size: 18px;
}

.heart-monitor{
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  transition: all .3s;
  position: relative;
  z-index: 50;
}

.heart-monitor.open{
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
  transform: translateX(320px);
}

.settings{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.bpm{
  color: #a83f39;
  display: flex;
  align-items: center;
  font-size: 4vw;
}

.heart{
  animation: heartBeat 3s infinite;
  display: inline-block;
  margin-right: 12px;
}

@keyframes heartBeat {
  0%{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  25%{
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
  }
  50%{
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
  }
  75%{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  98%{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
}

.not-connect{
  color: #ff6348;
  font-weight: bold;
  font-size: 1.5vw;
}

.reset{
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}